/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* end of normalized css */
/************************************Variables and Mix-ins**************************************************/
/**** general styling *******/
* {
  box-sizing: border-box;
  padding: 0;
  font-size: 62.5%;
}
body {
  max-width: 80%;
  margin: auto;
}
h1,
h2,
h3 {
  font-family: 'Lexend Peta', sans-serif;
}
p {
  font-family: 'Nunito', sans-serif;
}
header {
  display: flex;
  width: 100%;
  margin: 1rem 0 1rem 0;
}
header nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 500px) {
  header nav {
    flex-direction: column;
  }
}
header nav a {
  justify-content: center;
  text-decoration: none;
  font-family: 'Lexend Peta', sans-serif;
  color: gray;
}
@media screen and (max-width: 500px) {
  header nav a {
    width: 100%;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.3em;
  }
}
.hero-container {
  display: flex;
  width: 100%;
  background-color: white;
  margin: 0 0 0.5rem 0;
  border: 1px solid black;
  border-radius: 10px;
}
.hero-container .headline {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
@media screen and (max-width: 900px) {
  .hero-container .headline {
    width: 100%;
  }
  .hero-container .headline img {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .hero-container .headline {
    width: 100%;
  }
  .hero-container .headline img {
    width: 50%;
  }
}
.hero-container .headline .profile_pic {
  width: 50%;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 5%;
}
.hero-container .headline .profile_pic img {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}
.hero-container .headline h1 {
  font-size: 3rem;
  margin: 0 0 0.5rem 0;
}
.hero-container .headline h3 {
  font-size: 1.5em;
  margin: 0 0 0.5rem 0;
}
.hero-container .contactForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .hero-container .contactForm {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .hero-container .contactForm {
    width: 100%;
  }
}
.hero-container .contactForm form {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  width: 80%;
  padding: 1rem;
  margin: 1rem 0 1em 0;
  border: 1px solid black;
}
@media screen and (max-width: 900px) {
  .hero-container .contactForm form {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .hero-container .contactForm form {
    width: 90%;
  }
}
.hero-container .contactForm form input {
  width: 100%;
  margin-bottom: 1rem;
}
.hero-container .contactForm form textarea {
  margin-bottom: 1em;
  width: 100%;
}
.hero-container .contactForm form p {
  text-align: center;
}
.hero-container .contactForm .buttonCta {
  font-size: 0.5em;
  text-decoration: none;
  font-family: 'Lexend Peta', sans-serif;
  border: 1px solid black;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 2rem;
}
@media screen and (max-width: 900px) {
  .hero-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .hero-container {
    flex-direction: column;
  }
}
.about {
  display: flex;
  width: 100%;
  border-radius: 10px;
  margin: 1rem 0 1rem 0;
  border: 1px solid black;
}
.about .aboutCopy {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 1rem 0 1rem 0;
  padding: 0.75rem 1rem 0 1rem;
}
.about .aboutCopy h2 {
  font-size: 2rem;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
}
.about .aboutCopy p {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}
@media screen and (max-width: 500px) {
  .about .aboutCopy {
    width: 100%;
  }
}
.about .skills {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1rem 0 1rem 0;
  padding-right: 0.5rem;
}
.about .skills h2 {
  font-family: 'Lexend Peta', sans-serif;
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
  padding: 0.75rem 1rem 0 1rem;
}
.about .skills ul {
  width: 100%;
  font-family: 'Lexend Peta', sans-serif;
  list-style-type: square;
}
.about .skills ul li {
  margin: 1rem 0 1rem 0;
}
@media screen and (max-width: 900px) {
  .about .skills {
    padding-right: 1.5em;
  }
  .about .skills li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .about .skills {
    flex-direction: column;
    width: 100%;
  }
  .about .skills ul {
    padding-left: 33%;
  }
  .about .skills ul li {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 500px) {
  .about {
    flex-direction: column;
  }
}
.educationTitle {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  font-size: 2rem;
  margin: 0.5rem;
}
.education {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.education .div1 {
  display: flex;
  flex-direction: column;
  width: 18%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 0.5em 0 1em 0;
  border-radius: 10px;
}
.education .div1 h2 {
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
.education .div1 p {
  font-size: 1em;
  text-align: center;
  margin-bottom: 0.25em;
}
.education .div1 .imgCon {
  display: flex;
  width: 50%;
  justify-content: center;
}
.education .div1 .imgCon img {
  width: 80%;
}
@media screen and (max-width: 900px) {
  .education .div1 {
    width: 50%;
  }
  .education .div1 h2 {
    font-size: 1em;
  }
}
@media screen and (max-width: 500px) {
  .education .div1 {
    width: 100%;
  }
}
.work-experience {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 0 3em 0;
}
.work-experience h2 {
  justify-content: flex-start;
  font-size: 2rem;
  margin: 0.5rem;
}
.work-experience table {
  width: 100%;
  border: 2px solid black;
}
.work-experience table thead,
.work-experience table th,
.work-experience table tr,
.work-experience table td {
  text-align: left;
  border: 1px solid black;
  padding: 2%;
}
.work-experience table thead {
  font-weight: bold;
  font-family: 'Lexend Peta', sans-serif;
}
.work-experience table td {
  font-family: 'Nunito', sans-serif;
}
footer {
  text-align: center;
  font-family: 'Lexend Peta', sans-serif;
}
